body{
    background-color: #fcfcfc;
    color: #0c0c0c;
    font-family: "Muli", sans-serif;
}

.menu{
    height: 10vh;
}

a{
    text-decoration: none;
}

#main .register-default{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0049AF;
}

#main .register-default form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.register-default form .add_person{
    outline: none;
    border: none;
    background-color: transparent;
    color: aliceblue;
}

.register-default form .btn-del-input{
    outline: none;
    border: none;
    background-color: transparent;
    color: aliceblue;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 1rem;
}


.collaborators{
    font-weight: 700;
    justify-content: center;
}

.collaborators .card_colab{
    max-width: 400px;
    height: auto;
}
.collaborators .logo_collab{
    object-fit: cover;  
}


.logros{
    display: flex;
    align-items: center;
    min-height: 500px;
}

.logros img{
    object-fit: cover;
    max-height: 400px;
}

.filter{
    display: flex;
    justify-content: space-between;
}

.btn-searchers{
    background: transparent;
    border: 2px solid #6e6e6e;
    border-radius: 0 5px 5px 0;
}

.btn-searchers:hover{
    background: rgba(204, 204, 204, 0.347);
    transition: .2s;
}

.btn-searchers:hover span{
    transform: scale(105%);
}

.btn-reset{
    color: #3d3d3d!important;
    background: transparent;
    border: 2px solid #6e6e6e;
    border-radius: 20px;
    text-decoration: none;
    transition: .2s;
}

.btn-reset:hover{
    text-decoration: none;
    transform: scale(1.1);
}

.select{
    background: transparent;
    border-radius: 5px 0 0 5px;
    border:  2px solid #6e6e6e;
    cursor: pointer;
}

select:focus{
    outline: none;
}

.select option{
    color: gray;
    background: transparent!important;
    border-radius: 20px;
    cursor: pointer;
}
.sort{
    transition: .5s;
    transform: rotateX(0deg);
}
button:hover .sort{
    transform: rotateX(180deg);
    transition: .5s;
}

.intext{
    border: 2px solid #6e6e6e;
    border-radius: 5px 0 0 5px;
    height: 100%!important;
}

.intext:focus{
    outline: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 200,
  'opsz' 48
}

.table{
    height: 60vh;
    overflow-y: scroll;
    border: 2px solid #6e6e6e;
}

.table::-webkit-scrollbar{
    width: 7px;
    background: rgba(249, 249, 249, 0.466);
    border-radius: 50vw;
}

.table::-webkit-scrollbar-thumb{
    background-color: #6e6e6e;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 50vw;
}

.row_table{
    border-bottom: solid 1px rgb(174, 174, 174);
}

.cont-name{
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.info{
    text-decoration: none;
    
    font-size: 1.1rem;
    transform: scale(100%);
    transition: .2s;
}

.info:hover{
    transform: scale(110%);
    transition: .2s;
    
}

.rt{
    text-decoration: none;
    
    transform: scale(100%);
    transition: .2s;
}

.rt:hover{
    transform: scale(110%);
    transition: .2s;
    
}

.fa-circle-down{
    animation: down 2 1s;
}

@keyframes down {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);

    }
}

@keyframes intro {
    from{
        transform: translateY(1000px);
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes intrologo {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .cont-rt{
        height: 10vh;
    }
}

@keyframes introimg {
    from{
        transform: translateY(1000px);
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes introtext {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
