/* Variables globales */
:root {
    --green: #7dd955;
    --dark-green: #035d31;
    --orange: #ff914d;
    --blue: #0149ac;
    --orange-light: #ffde59;
    --antiflash-white: #ffffff;
    --federal-blue: #0D0E53ff;
    --space-cadet: #202852ff;
}

/* Colores de texto */
.t-green,
.t-dark-green,
.t-orange,
.t-blue,
.t-orange-light {
    color: var(--green), var(--dark-green), var(--orange), var(--blue), var(--orange-light);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    background: var(--antiflash-white);
    border-radius: 50vw;
}

::-webkit-scrollbar-thumb {
    background-color: var(--federal-blue);
    border: 2px solid var(--antiflash-white);
    border-radius: 10px;
}

/* Base del body */
body {
    overflow-x: hidden;
    background-color: var(--antiflash-white);
    color: var(--federal-blue)
}

/* Menú */
.menu {
    height: 10vh;
    background-color: #fff;
}

.menu .img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.menu .img-cont .img {
    padding: 0.6rem 0;
}

/* Links */
a {
    text-decoration: none;
}

/* Imágenes generales */
.img_header {
    object-fit: cover;
    border-radius: 2.5rem;
    border: 6px solid var(--orange-light);
    outline: 6px solid var(--blue);
}

.long-bg {
    background: url("../imgs/fondo_completo.png") no-repeat center right;
    background-size: contain; /* La imagen cubrirá todo el contenedor */
    width: 100vw; /* Asegura que ocupe el 100% del ancho de la ventana */
    height: auto; /* Permite ajustar la altura de forma proporcional */
    min-height: 400px; /* Altura mínima para mantener un diseño adecuado */
}

@media (min-width: 768px) {
    .long-bg {
        background-size: cover; /* Cambia a "cover" en pantallas grandes */
        height: auto; /* Ajusta la altura de forma proporcional */
    }
}

/* Estilo adicional para garantizar que no haya márgenes no deseados */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}


/* Formularios */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form .btn {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

/* Cartas */
.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Imágenes dinámicas */
.img-dynamic {
    border-radius: 50%;
    transition: transform 0.3s, border-radius 0.3s;
}

.img-dynamic:hover {
    border-radius: 0;
    transform: rotate(0);
}

/* Botones y selectores */
.btn,
.select {
    background: transparent;
    border: 2px solid #6e6e6e;
    border-radius: 5px;
    transition: 0.2s;
}

.btn:hover,
.select:hover {
    background: rgba(204, 204, 204, 0.347);
}

select:focus {
    outline: none;
}

/* Tablas */
.table {
    height: 60vh;
    overflow-y: scroll;
    border: 2px solid #6e6e6e;
}

.table::-webkit-scrollbar {
    width: 7px;
    background: rgba(249, 249, 249, 0.466);
    border-radius: 50vw;
}

.table::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 50vw;
}

/* Animaciones */
@keyframes down {

    0%,
    16%,
    32% {
        transform: translateY(0);
    }

    8%,
    24% {
        transform: translateY(20px);
    }
}

@keyframes changeBorderRadius {

    0%,
    50%,
    100% {
        border-radius: 50%;
    }

    25% {
        border-radius: 20% 80% 70% 30%;
    }

    75% {
        border-radius: 70% 30% 20% 80%;
    }
}

/* Responsive */
@media (max-width: 600px) {
    .cont-rt {
        height: 10vh;
    }
}

@media (max-width: 768px) {
    .container-text h2 {
        font-size: 1.4rem;
    }

    .container-text h5 {
        font-size: 0.9rem;
    }

    #btn,
    .add_person {
        font-size: 0.8rem;
    }

    #inputsContainer input.form-control {
        font-size: 0.9rem;
    }
}

#apuntate {
    color: var(--space-cadet);
    padding: 30px 0;
    border-radius: 10px;
}

#registerForm {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#inputsContainer input.form-control {
    border-radius: 5px;
    font-size: 1rem;
    background: var(--antiflash-white);
    color: var(--space-cadet);
}

/* Botón de enviar en verde */
#registerForm button[type="submit"] {
    background-color: var(--green);
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#registerForm button[type="submit"]:hover {
    background-color: #005f2f;
    /* Un verde más oscuro al pasar el cursor */
}

/* Estilo para "añadir acompañante" como texto plano */
.add-accompanist {
    background: none;
    color: var(--space-cadet);
    border: none;
    font-size: 1rem;
    text-decoration: underline;
    /* Para que parezca un enlace */
    cursor: pointer;
}

.add-accompanist:hover {
    text-decoration: none;
    /* Quitar subrayado al pasar el cursor */
}

/* Contenedor principal */
#info {
    padding: 2rem 0 4rem;
    border-radius: 15px;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
    color: var(--federal-blue);
}
#info h2,
#info h4 {
    color: var(--federal-blue);
    font-weight: bold;
    text-transform: uppercase;
}

#info h2 i,
#info h4 i {
    color: var(--space-cadet);
}

/* Preguntas y respuestas */
.questions-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.question-card {
    color: var(--space-cadet);
    background: #fff;
    border: 6px solid var(--orange);
    outline: 6px solid var(--green);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 2.5rem;
    transition: transform 0.2s, box-shadow 0.2s;
}

.question-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.question-card .h5 {
    color: var(--space-cadet);
    font-weight: bold;
    margin-bottom: 1rem;
}

.question-card .h6 {
    color: var(--space-cadet);
    padding-top: 1rem;
}

/* Input y botón */
form {
    margin-top: 2rem;
    justify-content: center;
}

form input[type="text"] {
    border-radius: 5px;
    padding: 0.5rem;
    flex-grow: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border 0.2s;
}

form input[type="text"]:focus {
    border-color: var(--dark-green);
    outline: none;
}

form button {
    color: var(--federal-blue);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: transparent;
    font-weight: bold;
}

/* Tarjetas de colaboradores */
.collaborators {
    margin-top: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
    background-image: url("../imgs/fondo_corto.png") no-repeat center/cover;
}

.card_colab {
    text-decoration: none;
    border-radius: 10px;
    padding: 1rem;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card_colab:hover {
    transform: translateY(-5px);
    border-color: var(--green);
}

.name_collab {
    color: var(--federal-blue);
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
    text-transform: capitalize;
    /* outline: 4px solid var(--federal-blue);
    border: 4px solid var(--orange-light);
    border-radius: 1rem; */
}

.logo_collab {
    max-width: 100%;
}


.contact {
    background-color: #fff;
    border: 4px solid var(--yellow); /* Borde amarillo */
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombras suaves */

}

/* Título del formulario */
form h4 {
    font-size: 1.5rem;
    color: var(--space-cadet); /* Color de texto consistente */
    margin-bottom: 20px;
}

/* Estilo de los inputs */
form .form-control {
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    background: var(--antiflash-white);
    color: var(--space-cadet);
    transition: outline 0.3s ease, border-color 0.3s ease;
}

/* Outline azul al seleccionar un campo */
form .form-control:focus {
    outline: 3px solid var(--blue); /* Outline azul */
    border-color: var(--green); /* Cambiar el borde al verde */
}

/* Estilo del botón para cargar imagen */
form .form-control-file + label {
    background-color: var(--orange);
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

form .form-control-file + label:hover {
    background-color: #7d4624; /* Verde oscuro al pasar el cursor */
}

/* Estilo del texto "opcional" */
form .form-group span {
    color: var(--space-cadet);
    font-size: 0.9rem;
}

/* Estilo del botón de enviar */
form button[type="submit"] {
    background-color: var(--green);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bol;
}

form button[type="submit"]:hover {
    background-color: #005f2f; /* Verde más oscuro */
}


.logros {
    padding: 2rem 0; /* Espaciado superior e inferior */
}

.logros h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.logros h3 {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.logros p {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    margin: 0.5rem 0 1rem;
}

.photo-green, .photo-orange, .photo-blue {
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    object-fit: cover;
    height: 15rem;
}

.photo-green {
    border: 5px solid var(--orange-light); 
    outline: 5px solid var(--orange);
}

.photo-orange {
    outline: 5px solid var(--federal-blue); /* Borde naranja */
    border: 5px solid var(--green);

}

.photo-blue {
    border: 5px solid var(--orange);
    outline: 5px solid var(--green);
    
}

.logros .d-flex {
    max-width: 300px; /* Limita el ancho de las imágenes */
    margin: 0 auto; /* Centra las imágenes */
}

.logros .col-12 {
    text-align: center; /* Centra el texto en dispositivos pequeños */
}

.logros h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
}
.card-logros{
    transition: .2s;
}

.card-logros:hover{
    transform: scale(1.05);
    transition: .2;
}

.arrow-container {
    text-align: center;
    margin-top: 20px;
}

.fa-circle-down {
    font-size: 50px; /* Tamaño de la flecha */
    animation: bounce 1.5s infinite; /* Llama la animación */
}

/* Animación del rebote */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px); /* Rebote hacia abajo */
    }
}
